<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.Dde_Na_Gae">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="BIND_GET_INSTALL_REFERRER_SERVICE" />


    <application
        android:name=".KakaoApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Login_Example"
        android:usesCleartextTraffic="true">


        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="b214210d275c3c68a2ab5a59099d8b41" />

        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".Api_date" />
        <activity android:name=".Search_Selected" />
        <activity android:name=".Search_Selected_More" />
        <activity android:name="com.example.Dde_Na_Gae.Sign_up" />
        <activity android:name="com.example.Dde_Na_Gae.BestPlace" />
        <activity android:name="com.example.Dde_Na_Gae.BestWalk" />
        <activity android:name="com.example.Dde_Na_Gae.Category" />
        <activity android:name="com.example.Dde_Na_Gae.TodayPlace" />
        <activity android:name="com.example.Dde_Na_Gae.Matching" />
        <activity android:name="com.example.Dde_Na_Gae.LoginPage" />
        <activity android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakaob214210d275c3c68a2ab5a59099d8b41" />
            </intent-filter>
        </activity>
        <activity android:name=".EmailSignupActivity"/>
        <activity android:name=".ChatMainActivity"/>
        <activity android:name=".chat.MessageActivity"/>
        <activity android:name=".Mainactivity" />
        <activity android:name=".BestPlace" />
        <activity android:name=".BestWalk" />
        <activity android:name=".Category" />
        <activity android:name=".TodayPlace" />
        <activity android:name=".Matching" />
        <activity android:name=".LoginPage" />
        <activity android:name=".Login_New_Page" />
        <activity android:name=".My_Information" />
        <activity android:name=".My_Page" />
        <activity android:name=".Matching_Option" />
        <activity android:name=".Setting" />
        <activity android:name=".Search" />

        <activity android:name=".Matching_Option"/>
        <activity android:name=".chat.New_MessageActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".New_ChatMainActivity"/>
        <activity android:name=".My_Matching_Room_detail"/>
        <activity android:name=".Matching_Room_detail"/>
        <activity android:name=".Matching_filter_Option"/>
        <activity android:name=".Chatting_List"/>
        <activity android:name=".chat.Group_MessageActivity"
            android:windowSoftInputMode="adjustResize"/>
        <activity android:name=".Free_Board_Writing"/>
        <activity android:name=".Freeboard_Activity"/>
        <activity android:name=".My_free_board_detail"/>
        <activity android:name=".My_Free_Board_List"/>
        <activity android:name=".Free_Board_Detail"/>
        <activity android:name=".My_Free_Board_detail_Change"/>
    </application>

</manifest>